
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default styles */
body, h1, h2, h3, p, a{
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
}

.wrapper{
  background-color:#5b5b5b;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.header, .navbar, .main-content, .footer {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
.header {
  background: rgb(255,255,255);
  background: linear-gradient(107deg, rgba(255,255,255,1) 39%, rgba(196,0,0,1) 46%, rgba(6,0,0,1) 100%);
  color: #fff;
    width: 100%;
}


.header img{
  width: 25%;
  margin: 20px;
  margin-left: 40px;
  align-items: flex-start;

}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 5px ;
  background-color: #000000;
  margin-bottom: 10px;
  padding-top: 10px;
  
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  
}
.navbar .user-login{
  color: white;
  margin-left: 4rem;

}

.article-list{
  background-color: #5b5b5b; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
}

/* Article card styles */
.article-card {
  position: relative;
  max-width: 300px;
  max-height: 360px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: box-shadow 0.3s;
  text-decoration: none; 
  color: inherit;
  text-justify: auto;
}
.article-card a * {
  text-decoration: none;
}

.article-card a h4{
  margin: 0;
}

.article-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.article-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-grow: 1; /* let the image take up as much space as possible */
}

.article-meta {
  position: absolute;
  font-size: 0.85rem;
  color: #777;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
  bottom: 10px;
  right: 10px;
}

/* Top article specific styles */
.top-article {
  flex-direction: row; /* change direction to row for top article */
}

.top-article {
  grid-column: 1 / -1; 
  
}

.top-article .article-image {
  width: 30%;
  margin-right: 20px;
  flex-grow: 1; /* reset flex-grow for top article */
}

.top-article .article-meta, .top-article h4, .top-article p {
  max-width: 100%;
  max-height: auto;
}


.vote-count {
  
  top: 10px;
  right: 10px;
  font-size: 1rem;
  color: #00a666;
  display: flex;

  margin-bottom: 10px;
}

.vote-count-icon {
  margin-right: 5px;
}


/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
}


/*Article details*/

.article-detail {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: white;
}

.article-detail h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.article-detail img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-detail p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.article-detail .article-body {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.article-detail span{
  font-weight: 600;
  text-decoration: underline;
}

.article-detail-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: end;
}  

.article-detail-footer p{
font-size: 12px;
margin-top: 10%
}

.article-detail button{
    background-color: #5b5b5b; 
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
   
}
 .article-detail button:hover{
  background-color:  #393939; ;
 }
/* comments styles*/

.comment-bubble {
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  max-width: 95%;
  position: relative;
  
}

.comment-bubble p{
  font-size: 0.9rem;
  font-family: 'Helvetica', sans-serif;
  text-align: justify;
}


/* Style for the comment prompt */
#comment-login-prompt {
  font-size: 0.8rem; 
  text-align: center;
  margin-top: 20px;
}


.add-comment-section {
  border: 1px solid #e0e0e0;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.add-comment-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Helvetica', sans-serif;
  resize: vertical;
}

.add-comment-section button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.add-comment-section button:hover {
  background-color: #45a049; 
}

.vote-button {

 
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  transition: color 0.3s;
  color: #797979;
  font-size: 1.5rem;
}

.vote-button:hover {
  color: #007BFF;  /* You can choose any hover color you prefer */
}

.vote-button:active {
  transform: scale(0.95);
}

